<h1>blueunicorn.net</h1>

<div class="topimage">
	<%=image_tag('unicorn_sample.jpg')%>
</div>

<div class="instructions">
	<ol>
		<li>Choose a location that could do with some beauty and magic.  Perhaps an inconspicuous location that is likely to suprise and delight.</li>
		<li>Choose a one-word message that your unicorn will bestow upon all who see him/her.</li>
		<li>Summon your unicorn with good will and gratitude.  And spray paint.</li>
		<li>Photograph your unicorn with your phone. Prefer closeups like the example above which do not reveal too much about the location.  Unicorns are shy.</li>
		<li><%= render 'unicorns/form' %></li>
		<li>Congratulations, you've made the world a bit more magical, and joy is spreading!  <a href='/map'>Unicorns abound!</a></li>
		
	</ol>
</div>

<h3>
	Correspondence to <a href="mailto:joy@blueunicorn.net">joy@blueunicorn.net</a>
</h3>
	