

<div id='map-one' class='map'> </div>

<script>
$(function() {
	L.mapbox.accessToken = 'pk.eyJ1IjoiYmxvbWNvZGUiLCJhIjoiMGIxemwzOCJ9.FRTGtI04ro2qbhsaEMdhtA';
	var map = L.mapbox.map('map-one', 'blomcode.l00jcjh4');

	var unicorns = <%= raw Unicorn.get_geojson.to_json %>;

	console.log( "unicorns is: ");
	console.dir( unicorns );

	var markerLayer = L.mapbox.featureLayer().on( 'layeradd', function(e) {
		e.layer.bindPopup( '<img src="' + e.layer.feature.properties.image_medium + '" />', {
			minWidth: 350
		});
	}).addTo( map );

	markerLayer.setGeoJSON( unicorns );

	map.fitBounds( markerLayer.getBounds() );

	markerLayer.on( 'mouseover', function(e) {
		e.layer.openPopup();
	});
	markerLayer.on( 'mouseout', function(e) {
		e.layer.closePopup();
	});
});
</script>
